@import url('../styles/normalize.css');

body {
  margin: 0;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 /* div,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 a,
 li,
 ul,
 img,
 section,
 main,
 span,
 header,
 button {
   outline-width: 1px;
   outline-style: dotted;
   outline-color: rgb(74, 195, 141);
 } */
