.App {
  text-align: center;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__span {
  width: 1px;
  height: 40px;
  background-color: #E3EBEF;
  align-self: center;
}

.app__wrapper {
  width: 100%;
}

.body {
  margin-top: 60px;
}

.body__exchange {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  gap: 27px;
}

.body__exchange--reverse {
  flex-direction: row-reverse;
}

.body__exchange-wrapper {
  display: flex;
  max-width: 450px;
  width: 100%;
  height: 50px;
  border: 1px solid #E3EBEF;
  border-radius: 5px;
  background-color: #F6F7F8;
}

.disabled__warning {
  height: 15px;
  margin: 8px 0 0 auto;
  max-width: 205px;
  display: flex;
  justify-content: center;
}

.disabled__warning-message {
  margin: 0;
  text-align: start;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  color: #E03F3F;
}
